<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Serve static files first -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^public/(.*)" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <!-- Default rewrite to server.js -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>
